* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  color: black;
  font-size: 15px;
  line-height: 1.5;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%; 
  height: 100vh; 
  margin: auto;
  border: 2px solid yellow;
}

span {
  color: rgb(194, 191, 191);
}

h2 {
  font-size: 28px;
}

/* Nav */
.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10vh; 
  padding: 1% 0;
  font-size: 14px;
  border: 2px solid olive;
}

.main-nav h1 {
  font-size: 18px;
}

.main-nav ul {
  display: flex;
  flex-wrap: wrap;
}

.main-nav ul li {
  padding: 0 10px;
}

.main-nav ul li a:hover {
  color: #ffbb9e;
}

.main-menu #about-us a {
  color: #ffbb9e;
  border-bottom: 2px solid #ffbb9e;
  padding-bottom: 2px;
}

.right-menu {
  display: flex;
  align-items: center;
}

.right-menu .contact-us {
  padding: 8px 15px;
  border: 2px solid rgb(167, 163, 163);
  border-radius: 20px;
  background-color: whitesmoke;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.right-menu .contact-us:hover {
  transform: translateY(-8px);
  opacity: 0.9;
}

/* Hero */
.hero {
  width: 100%;
  height: 90vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgb(219, 13, 168);
}

.hero-content {
  margin: 40px 0 20px 0;
  width: 50%;
  height: auto;
  display: flex;
  text-align: center;
  flex-direction: column;
  letter-spacing: 2px;
  border: 2px solid blue;
}


.hero-img {
  width: 100%; 
  height: 70%; 
  border: 2px solid red;
  background: url("asset/estate2.jpg");
  background-repeat:no-repeat;
  background-position:50% 80%; ;
  background-size: cover; 
}
